:root {
 --white: #fff;
 --dark-gray: #1f1f1f;
 --dark-gray-2: #474747;
 --dark-gray-3: #666666;
 --error: #EE4266;
 --light-gray: #8F8F8F;
 --light-gray-2: #CCCCCC;
 --light-gray-3: #f5f5f5;
 --primary: #C92071; 
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}